



**/bin/
**/obj/
**/out/


**/logs/
*.log


.vs/
.vscode/
.idea/
*.user
*.suo


.git/
.gitignore
.gitattributes


Dockerfile
docker-compose.yml
.dockerignore


README.md
*.md


**/tmp/
**/.DS_Store
**/Thumbs.db


**/packages/
